.greyText {
    color: rgb(106, 104, 104);
}
.backThisProject {
    border: solid rgba(226, 229, 231, 0.917) 0.5px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
}

.productInfo {
    border: solid rgba(226, 229, 231, 0.917) 1px;
    width: 96%;
    padding: 1% 0.5% 0% 3.5%;
    margin-top: 0px;
    border-radius: 10px;
}

.productNamePledgeAndCount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.productNameAndPledgeThreshold {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    position: relative;
    left: -1px;

}

.productPledgeThreshold {
    color: #06b4c0;
    position: relative;
    left: -5px;
}

.radio {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border: solid black 1px;
    border-radius: 50px;
}
.productCount {
    width: 13%;
}

.product-details {
    margin-top: 0px;
    padding-bottom: 0%;
    position: relative;
    top: -1%;
}

.selectedBackThisProject {
    display: none;
    flex-direction: row;
    height: 60px;
}
.pledgeAmountInputAndContinueBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    right: -30%;
}

.pledgeAmountLabel {
    position: relative;
    left: -10px;
}
.pledgeAmountInput {
    width: 25%;
    height: 40%;
    border: solid #06b4c0 1px;
    border-radius: 50px;
    position: relative;
    left: -8px;
}

.continuePledge {
    height: 41.5%;
    border: solid #06b4c0 0.5px;
    border-radius: 50px;
    background-color: #06b4c0;
}

@media screen and (max-width: 650px) {
    .productInfo {
        width: 94%;
        padding: 0% 2% 0% 2%;
        margin: 0px;
    }

    .backThisProject {
        border: solid rgba(226, 229, 231, 0.917) 0.5px;
        padding-bottom: 0px;
        width: 100%;
    }

    .productPledgeThreshold {
        left: 0px;
        top: -22px;
    }

    .productNameAndPledgeThreshold {
        width: 70%;
        flex-direction: column;
        left: 2%;
        top: -2%;
    }

    .product-details {
        width: 100%;
        top: -30px;
        left: 4px;
        margin-bottom: 0px;
    }

    .productCount {
        width: 19%;
        height: fit-content;
        padding: 0px;
        margin: 0px;
        position: relative;
        top: 13px;
    }

    .selectedBackThisProject {
        flex-direction: row;
        height: 100px;
        width: 100%;
        align-items: center;
    }

    .ledgeAmountInputAndContinueBtn {
        right: -35px;
    }

    .productNamePledgeAndCount {
        display: flex;
        flex-direction: row;
        padding: 0px;
    }

}