/*desktop screen*/
#default-modal {
    width: 56%;
    margin-left: 22%;
    margin-right: 22%;
    position: relative;
    top: -60px;
    border-radius: 10px;
}

#product-header {
    background-color: white;
    border-radius: 5px;
    padding-bottom: 20px;
    width: 100%;
}

#logo {
    position: relative;
    left: 43.1%;
    top: -28px;
}

#support-and-bookmark {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#support-project {
    width: 44%;
    margin-top: 10px;
    border: solid #06b4c0 1px;
    border-radius: 50px;
    height: 30px;
    background-color: #06b4c0;
    cursor: pointer;
}
#support-project:hover {
    scale: 1.1;
}

#bookmark {
    display: flex;
    flex-direction: row;
    color: rgb(106, 104, 104);
    cursor: pointer;
}

#bookmark img {
    height: 50px;
    cursor: pointer;
}

/*mobile screen*/
@media screen and (max-width: 650px) {
    #default-modal {
        width: 88%;
        padding: 0% 6% 0% 6%;
        margin-left: 0%;
        margin-right: 0%;
    }

    /*#logo {
        position: relative;
        right: -42%;
        top: -28px;
    }*/

    #support-and-bookmark {
        width: 80%;
        margin: 0% 10% 0% 10%;
    }
}