.greyText {
    color: rgb(106, 104, 104);
}

#product-details-modal {
    background-color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

#back-this-project {
    width: 96%;
    padding: 1% 2% 1% 2%;
    background-color: white;
    position: relative;
    top: -1243px;
    display: none;
    border-radius: 10px;
}

#close-modal-icon:hover {
    scale: 1.2;
    rotate: 25deg;
}

#title-and-closemodal-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#close-modal-icon {
    height: 15px;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    #back-this-project {
        top: -1625px;
    }
}