@media screen and (max-width: 1440px) {
    #product-lists {
        border: solid rgba(226, 229, 231, 0.917) 1px;
        padding: 0px 20px 15px 20px;
        margin-top: 20px;
    }
    
    #list-header-and-threshold {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #product-count-and-select {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #select-product-btn {
        width: 130px;
        margin-top: 10px;
        border: solid #06b4c0 1px;
        border-radius: 50px;
        height: 30px;
        background-color: #06b4c0;
    }

    #bold-count {
        font-weight: 700;
        font-size: large;
    }

    #list-threshold {
        color: #06b4c0;
    }
}
